stages:
  - build
  - test
  - publish

include:
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-github-status-updates.yml"
  - component: gitlab.com/Northern.tech/Mender/mendertesting/commit-lint@master
  - project: "Northern.tech/Mender/mendertesting"
    file: ".gitlab-ci-check-license.yml"
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-docker-build.yml'

variables:
  # Configure container multiplatform image for build and publish
  DOCKER_REPOSITORY: mendersoftware/mender-client-docker-addons
  DOCKER_DIR: virtual-device
  MULTIPLATFORM_BUILD: "true"
  MULTIPLATFORM_PLATFORMS: "linux/amd64,linux/arm64"

# Exclude non multiplatform jobs
build:docker:
  rules:
    - when: never
publish:image:
  rules:
    - when: never
publish:image:mender:
  rules:
    - when: never

test:build:inventory-script:releases:
  stage: test
  needs: []
  image: debian:13-slim
  before_script:
    - apt-get update && apt-get install -y make jq gettext-base
  script:
    - |
      for file in subcomponents/releases/*.json; do
        rm -f inventory-script/mender-inventory-client-version
        version=$(basename "$file" .json)
        RELEASE=$version make build
        cat inventory-script/mender-inventory-client-version
        test "echo mender_client_version=$version" = "$(cat inventory-script/mender-inventory-client-version)"
      done

test:build:inventory-script:unsupported:
  stage: test
  needs: []
  image: debian:13-slim
  rules:
    # This test is N/A from Git tags
    - if: $CI_COMMIT_TAG
  before_script:
    - apt-get update && apt-get install -y make jq gettext-base
  script:
    - |
      make build
      cat inventory-script/mender-inventory-client-version
      test "echo mender_client_version=unsupported = "$(cat inventory-script/mender-inventory-client-version)"

test:validate:schema:
  stage: test
  needs: []
  image: node
  before_script:
    - npm install --global ajv-cli
  script:
    - |
      for file in subcomponents/releases/*.json; do
        # Validate schema
        ajv validate -s subcomponents/release.schema.json -d "$file"

        # Validate filename
        filename=$(basename "$file" .json)
        version_field=$(node --print "require('./$file').version")
        test "$filename" = "$version_field"
      done
